  <!-- Footer -->
  <footer class="site-footer">
    <span class="site-footer-legal">© 2017</span>
    <div class="site-footer-right">
    <i class="red-600 wb wb-heart"></i> <a href="javascript:;">重庆存己科技有限公司</a>   
     </div>
  </footer>
  <!-- Core  -->
  <script src="/Public/assets/vendor/jquery/jquery.js"></script>
  <script src="/Public/assets/vendor/bootstrap/bootstrap.js"></script>
  <script src="/Public/assets/vendor/animsition/jquery.animsition.js"></script>
  <script src="/Public/assets/vendor/asscroll/jquery-asScroll.js"></script>
  <script src="/Public/assets/vendor/mousewheel/jquery.mousewheel.js"></script>
  <script src="/Public/assets/vendor/asscrollable/jquery.asScrollable.all.js"></script>
  <script src="/Public/assets/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

  <!-- Plugins -->
  <script src="/Public/assets/vendor/switchery/switchery.min.js"></script>
  <script src="/Public/assets/vendor/intro-js/intro.js"></script>
  <script src="/Public/assets/vendor/screenfull/screenfull.js"></script>
  <script src="/Public/assets/vendor/slidepanel/jquery-slidePanel.js"></script>

  <!-- Scripts -->
  <script src="/Public/assets/js/core.js"></script>
  <script src="/Public/assets/js/site.js"></script>

  <script src="/Public/assets/js/sections/menu.js"></script>
  <script src="/Public/assets/js/sections/menubar.js"></script>
  <script src="/Public/assets/js/sections/gridmenu.js"></script>
  <script src="/Public/assets/js/sections/sidebar.js"></script>

  <script src="/Public/assets/js/configs/config-colors.js"></script>
  <script src="/Public/assets/js/configs/config-tour.js"></script>

  <script src="/Public/assets/js/components/asscrollable.js"></script>
  <script src="/Public/assets/js/components/animsition.js"></script>
  <script src="/Public/assets/js/components/slidepanel.js"></script>
  <script src="/Public/assets/js/components/switchery.js"></script>

  <!-- Scripts For This Page -->

  <!-- 前端验证插件 -->
  <script src="/Public/common/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
  <script src="/Public/common/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>


  <script>
    (function(document, window, $) {
      'use strict';

      var Site = window.Site;
      $(document).ready(function() {
        Site.run();
      });
    })(document, window, jQuery);
  </script>


</body>

</html>
