<include file="./Apps/Home/View/Common/layouts/header.html" />
<link rel="stylesheet" type="text/css" href="/Apps/Home/View/Common/css/article.css">
<include file="./Apps/Home/View/Common/layouts/nav.html" />
<include file="./Apps/Home/View/Common/layouts/banner.html" />
<div class="row">
    <div class="col-md-12">
        <div class="col-md-1"></div>
        <div class="col-md-10 articless">
            <h3><span class="glyphicon glyphicon-pause" aria-hidden="true"></span>{$dataA.title}</h3>
            <p>{$dataA.content}</p>
        </div>
        <div class="col-md-1"></div>
    </div>
</div>
<include file="./Apps/Home/View/Common/layouts/ad.html" />
<include file="./Apps/Home/View/Common/layouts/footer.html" />
