<!DOCTYPE html>
<html class="no-js css-menubar" lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=0, minimal-ui">
  <meta name="description" content="bootstrap admin template">
  <meta name="author" content="">

  <title>{$Think.config.WEB_TITLE} | 登录</title>

  <link rel="apple-touch-icon" href="/Public/assets/images/apple-touch-icon.png">
  <link rel="shortcut icon" href="/Public/assets/images/favicon.ico">

  <!-- Stylesheets -->
  <link rel="stylesheet" href="/Public/assets/css/bootstrap.min.css">
  <link rel="stylesheet" href="/Public/assets/css/bootstrap-extend.min.css">
  <link rel="stylesheet" href="/Public/assets/css/site.min.css">

  <!-- Plugins -->
  <link rel="stylesheet" href="/Public/assets/vendor/animsition/animsition.css">
  <link rel="stylesheet" href="/Public/assets/vendor/asscrollable/asScrollable.css">
  <link rel="stylesheet" href="/Public/assets/vendor/switchery/switchery.css">
  <link rel="stylesheet" href="/Public/assets/vendor/intro-js/introjs.css">
  <link rel="stylesheet" href="/Public/assets/vendor/slidepanel/slidePanel.css">
  <link rel="stylesheet" href="/Public/assets/vendor/flag-icon-css/flag-icon.css">

  <!-- Fonts -->
  <link rel="stylesheet" href="/Public/assets/fonts/web-icons/web-icons.min.css">
  <link rel="stylesheet" href="/Public/assets/fonts/brand-icons/brand-icons.min.css">
  <!-- <link rel='stylesheet' href='http://fonts.useso.com/css?family=Roboto:300,400,500,300italic'> -->
  <!-- Inline -->
  <link rel="stylesheet" href="/Public/assets/examples/css/pages/login-v2.css">

  <!--[if lt IE 9]>
    <script src="/Public/assets/vendor/html5shiv/html5shiv.min.js"></script>
    <![endif]-->

  <!--[if lt IE 10]>
    <script src="/Public/assets/vendor/media-match/media.match.min.js"></script>
    <script src="/Public/assets/vendor/respond/respond.min.js"></script>
    <![endif]-->
  <!-- Scripts -->
  <script src="/Public/assets/vendor/modernizr/modernizr.js"></script>
  <script src="/Public/assets/vendor/breakpoints/breakpoints.js"></script>
  <script>
    Breakpoints();
  </script>
</head>
<body class="page-login-v2 layout-full page-dark">
  <!--[if lt IE 8]>
        <p class="browserupgrade">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->


  <!-- Page -->
  <div class="page animsition" data-animsition-in="fade-in" data-animsition-out="fade-out">
    <div class="page-content">
      <div class="page-brand-info">
        <div class="brand">
          <img class="brand-img" src="/Public/assets/images/logo@2x.png" alt="...">
          <h2 class="brand-text font-size-40">{$Think.config.WEB_TITLE}后台管理系统</h2>
        </div>
        <!-- <p class="font-size-20">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
          tempor incididunt ut labore et dolore magna aliqua.</p> -->
      </div>

      <div class="page-login-main">
        <div class="brand visible-xs">
          <img class="brand-img" src="/Public/assets/images/logo-blue@2x.png" alt="...">
          <h3 class="brand-text font-size-40">Remark</h3>
        </div>
        <h3 class="font-size-24" style="text-align: center;">登 录</h3>
        <!-- <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.</p> -->

        <form id="loginForm" method="post" action="{:U('Login/index')}">
          <div class="form-group">
            <label class="sr-only" for="inputEmail">账号</label>
            <input type="text" class="form-control" id="inputEmail" name="username" placeholder="请输入账号" value="{$Think.cookie.username}">
          </div>
          <div class="form-group">
            <label class="sr-only" for="inputPassword">密码</label>
            <input type="password" class="form-control" id="inputPassword" name="password"
            placeholder="请输入密码">
          </div>
          <div class="form-group">
            <div class="input-group">
              <input type="text" class="form-control" name="code" placeholder="请输入验证码">
              <span class="input-group-addon" style="cursor:pointer;"><img src="/Admin/Login/verifyCode" style="width:150px;height:20px;" onclick="this.src='/Admin/Login/verifyCode'+'?'+Math.random()"/></span>
            </div>
          </div>
          <div class="form-group clearfix">
            <div class="checkbox-custom checkbox-inline checkbox-primary pull-left">
              <input type="checkbox" id="remember" name="rememberAccount" value="1">
              <label for="inputCheckbox">记住账号</label>
            </div>
            <a class="pull-right" href="javascript:;" onclick="javascript:alert('请联系管理员更改密码!');">忘记密码?</a>
          </div>
          <button type="submit" class="btn btn-primary btn-block">登&nbsp;录</button>
        </form>

        <!-- <p>No account? <a href="register-v2.html">Sign Up</a></p> -->
      </div>

    </div>
  </div>
  <!-- End Page -->


  <!-- Core  -->
  <script src="/Public/assets/vendor/jquery/jquery.js"></script>
  <script src="/Public/assets/vendor/bootstrap/bootstrap.js"></script>
  <script src="/Public/assets/vendor/animsition/jquery.animsition.js"></script>
  <script src="/Public/assets/vendor/asscroll/jquery-asScroll.js"></script>
  <script src="/Public/assets/vendor/mousewheel/jquery.mousewheel.js"></script>
  <script src="/Public/assets/vendor/asscrollable/jquery.asScrollable.all.js"></script>
  <script src="/Public/assets/vendor/ashoverscroll/jquery-asHoverScroll.js"></script>

  <!-- Plugins -->
  <script src="/Public/assets/vendor/switchery/switchery.min.js"></script>
  <script src="/Public/assets/vendor/intro-js/intro.js"></script>
  <script src="/Public/assets/vendor/screenfull/screenfull.js"></script>
  <script src="/Public/assets/vendor/slidepanel/jquery-slidePanel.js"></script>

  <!-- Plugins For This Page -->
  <script src="/Public/assets/vendor/jquery-placeholder/jquery.placeholder.js"></script>

  <!-- Scripts -->
  <script src="/Public/assets/js/core.js"></script>
  <script src="/Public/assets/js/site.js"></script>

  <script src="/Public/assets/js/sections/menu.js"></script>
  <script src="/Public/assets/js/sections/menubar.js"></script>
  <script src="/Public/assets/js/sections/gridmenu.js"></script>
  <script src="/Public/assets/js/sections/sidebar.js"></script>

  <script src="/Public/assets/js/configs/config-colors.js"></script>
  <script src="/Public/assets/js/configs/config-tour.js"></script>

  <script src="/Public/assets/js/components/asscrollable.js"></script>
  <script src="/Public/assets/js/components/animsition.js"></script>
  <script src="/Public/assets/js/components/slidepanel.js"></script>
  <script src="/Public/assets/js/components/switchery.js"></script>

  <!-- Scripts For This Page -->
  <script src="/Public/assets/js/components/jquery-placeholder.js"></script>

  <!-- 前端验证插件 -->
  <script src="/Public/common/jquery-validation-1.14.0/dist/jquery.validate.min.js"></script>
  <script src="/Public/common/jquery-validation-1.14.0/dist/localization/messages_zh.js"></script>
  <script src="/Admin/Apps/Admin/View/validate/login.js"></script>
  <script>
    (function(document, window, $) {
      'use strict';

      var Site = window.Site;
      $(document).ready(function() {
        Site.run();
      });
    })(document, window, jQuery);
  </script>



</body>

</html>

