
<!-- 底部 start -->
<div class="row public-footer">
  <div class="col-md-12 footer-info">
    <div class="col-md-4">
      <img src="/Apps/Home/View/Common/img/bottom-logo.png" class="info-logo" />
    </div>
    <div class="col-md-5 info-content">
      <div class="marginBot10">
        <a href="JavaScript:;">
          <img src="/Apps/Home/View/Common/img/img_1.png"  title="淘宝地址" alt="淘宝地址">
        </a>
        <a href="https://m.weibo.cn/p/1005056101932937" target="_block">
          <img src="/Apps/Home/View/Common/img/img_2.png" target="_block" title="公司微博" alt="公司微博">
        </a>
        <div class="wx img_style">
          <img src="/Apps/Home/View/Common/img/img_3.png" target="_block" title="微信二维码" alt="微信二维码">
          <img src="/Apps/Home/View/Common/img/wx.jpg" class="img" title="微信二维码" alt="微信二维码">
        </div>
        <div class="wx img_style">
          <img src="/Apps/Home/View/Common/img/img_4.png" target="_block" title="公司邮箱" alt="公司邮箱">
          <span>lingdu1126@yahoo.com</span>
        </div>
      </div>
      <p>
        <span>贵州省仁怀市领渡酒业销售有限公司</span>
        <span>地址：贵州省遵义市仁怀市茅台镇国酒社区茅苑路</span>
      </p>
      <p>
        <span>电话：0851---22222180</span>
        <span style="margin-left: 10px;">传真：0851---22222180</span>
        <span style="margin-left: 10px;">全国免费招商热线：15519622999</span></p>
    </div>
    <div class="col-md-3">&nbsp;</div>
  </div>
  <div class="col-md-12 info-bottom">
    贵州省仁怀市领渡酒业销售有限公司    版权所有  Copyright 2010-2018 icunji.com All Rights Reserved    渝ICP备11059918号
  </div>
</div>
<!-- 底部 end -->
</div>
<!-- 引入jQuery -->
<script src="/Public/common/jQuery/jquery-3.1.1.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>