
<!-- 底部 start -->
<div class="row public-footer">
  <div class="col-md-12 footer-info">
    <div class="col-md-4">
      <img src="/Apps/Home/View/Common/img/bottom-logo.png" class="info-logo" />
    </div>
    <div class="col-md-5 info-content">
      <p><img src="/Apps/Home/View/Common/img/info-content-title.png" /></p>
      <p>
        <span>贵州省仁怀市领渡酒业销售有限公司</span>
        <span>地址：贵州省遵义市仁怀市茅台镇国酒社区茅苑路</span>
      </p>
      <p>
        <span>电话：0769-89836999</span>
        <span style="margin-left: 10px;">传真：0769-89836899</span>
        <span style="margin-left: 10px;">全国免费招商热线：400-8766-199</span></p>
    </div>
    <div class="col-md-3">&nbsp;</div>
  </div>
  <div class="col-md-12 info-bottom">
    贵州省仁怀市领渡酒业销售有限公司    版权所有  Copyright 2010-2018 icunji.com All Rights Reserved    渝ICP备11059918号
  </div>
</div>
<!-- 底部 end -->
</div>
<!-- 引入jQuery -->
<script src="/Public/common/jQuery/jquery-3.1.1.min.js"></script>
<!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
<script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</body>
</html>