<!DOCTYPE html>
<html lang="zh-CN">
<head>
  <title>{$dataSite.site_name}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <!-- 最新版本的 Bootstrap 核心 CSS 文件 -->
  <link rel="stylesheet" href="https://cdn.bootcss.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
<script type="text/javascript">
var userAgent = navigator.userAgent;
userAgent = userAgent.toLowerCase();
var isMobile = "false";
if (userAgent.indexOf("android") >= 0 || userAgent.indexOf("mini 9.5") >= 0 || userAgent.indexOf("vx1000") >= 0 || userAgent.indexOf("lge") >= 0 || userAgent.indexOf("m800") >= 0 || userAgent.indexOf("3g_t") >= 0 || userAgent.indexOf("windows ce") >= 0 || userAgent.indexOf("opera mobi") >= 0 || userAgent.indexOf("windows ce; smartphone;") >= 0 || userAgent.indexOf("windows ce; iemobile") >= 0 || userAgent.indexOf("ipod") >= 0 || userAgent.indexOf("ipad") >= 0 || userAgent.indexOf("iphone") >= 0 || userAgent.indexOf("opera mini") >= 0 || userAgent.indexOf("blackberry") >= 0 || userAgent.indexOf("palm os") >= 0 || userAgent.indexOf("palm") >= 0 || userAgent.indexOf("mobile") >= 0 || userAgent.indexOf("hiptop") >= 0 || userAgent.indexOf("avantgo") >= 0 || userAgent.indexOf("fennec") >= 0 || userAgent.indexOf("plucker") >= 0 || userAgent.indexOf("xiino") >= 0 || userAgent.indexOf("blazer") >= 0) {
    isMobile = "true";
}
if (isMobile == "true") {
    window.location.href = "http://lingdu1935.com/Wap";
}
</script>
</head>
<body>
<div class="container-fluid">