<include file="Layouts/headerss" />
<include file="Layouts/menuss" />
  <!-- Page -->
  <div class="page animsition">
    <div class="page-header">
      <h1 class="page-title"># 产品类别管理</h1>
    </div>
    <div class="page-content">
      <div class="panel">
        <div class="panel-heading">
          <h3 class="panel-title">添加产品类别</h3>
        </div>
        <div class="panel-body">
          <form id="mcategoriesForm" class="form-horizontal" action="/Admin/Mcategories/index" method="post">
            <input type="hidden" name="id" value="{$dataMc.id}"/>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">产品类别名称</label>
              <div class="col-sm-10">
                <input type="text" name="category_name" class="form-control" id="inputEmail3" placeholder="请输入产品类别名称" value="{$dataMc.category_name}">
              </div>
            </div>
            <div class="form-group">
              <label for="inputPassword3" class="col-sm-2 control-label">导航类别</label>
              <div class="col-sm-10">
                <select class="form-control" name="nid">
                  <foreach name="dataNav" item="vo" key="k">
                    <option value="{$vo.id}" <if condition="$dataNav[$k]['id'] eq $dataMc['nid']">selected</if> >{$vo.cname}</option>
                  </foreach>
                </select>
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">排序</label>
              <div class="col-sm-10">
                <input type="text" name="sort" class="form-control" id="inputEmail3" placeholder="数字越小越靠前，如果不输入则默认为0" value="{$dataMc.sort}">
              </div>
            </div>
            <div class="form-group">
              <label for="inputEmail3" class="col-sm-2 control-label">状态</label>
              <div class="col-sm-10">
                <label class="radio-inline">
                  <input type="radio" name="status" id="inlineRadio1" value="1" <if condition="$dataMc.status eq 1">checked<else/>checked</if> > 显示
                </label>
                <label class="radio-inline">
                  <input type="radio" name="status" id="inlineRadio1" value="2" <if condition="$dataMc.status eq 2">checked</if> > 隐藏
                </label>
              </div>
            </div>
            <div class="form-group">
              <div class="col-sm-offset-2 col-sm-10">
                <button type="submit" class="btn btn-default">提交</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
  <!-- End Page -->
<include file="Layouts/footerss" />
<script src="/Admin/Apps/Admin/View/validate/mcategories.js"></script>

